h1 {
	margin-top: 150px;
	margin-bottom: 50px;
    text-align: center;
}

.signup-info{
	display: block;
	margin: 0 auto; 
	width: 60%;
}

.btn{
	position: fixed;
	left: 660px;
	right: 660px;
	margin-top: 15px;
	width: 120px;
}  